h1, h2, h3, h4, h5, h6 {
  font-family:arial, sans-serif;
  text-decoration:underline;
  width:100%;
}

h2, h3, h4, h5, h6 {
  margin-top:35px;
}

body{
  font-size:1.1em;
}

p, div.gist{
margin-left:20px; 
}
div.gist{
	font-size:0.9em;
}
div#content{
max-width:750px;
}
div.figure {
float: right;
border: thin silver solid;
margin: 0.5em;
padding: 0em;
}
div.figure p {
margin:0 0 10px 0;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
}